Write a Python function that applies a logarithmic transformation to a 
numerical feature 'income' to reduce skewness.

In [1]:
import numpy as np
import pandas as pd

constant = 1e-5
data = {'income': [20000, 50000, 0, 150000, 10000, 45000]}
df = pd.DataFrame(data)
df['log_income'] = np.log(df['income'] + constant)
df

   income  log_income
0   20000    9.903488
1   50000   10.819778
2       0  -11.512925
3  150000   11.918391
4   10000    9.210340
5   45000   10.714418